.header {
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 224, 224);
    border-bottom-width: 1px;
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    margin-left: 24px;
    margin-right: 24px;
    height: 24px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    cursor: pointer;
}

.mid-section {
    margin-left: 70px;
    flex: 1;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 35px;
    padding-left: 10px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-radius: 1.5px;
    box-shadow: inset 1px 1px 2px rgb(228, 228, 228);
    width: 0;
}

.search-bar::placeholder {
    font-family: "Roboto", serif;
}

.search-btn,
.voice-search-btn,
.upload-btn,
.apps-btn,
.notification-icon-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn {
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    width: 60px;
    height: 39px;
    border-radius: 1px;
    margin-left: -1px;
    margin-right: 8px;
}

.search-btn .tooltip {
    position: absolute ;
    background-color: gray;
    font-size: 10px;
    padding: 5px 8px 5px 8px;
    color: white;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-btn:hover .tooltip,
.apps-btn:hover .tooltip,
.notification-icon-box:hover .tooltip {
    opacity: 1;
}

.voice-search-btn {
    padding: 5px 7px 5px 7px;
    border-radius: 100px;
    border-width: 0px;
    background-color: rgb(246, 246, 246);
}

.search-icon {
    height: 25px;
}

.voice-search-icon {
    height: 22px;
}

.voice-search-btn .tooltip {
    position: absolute ;
    background-color: gray;
    font-size: 10px;
    padding: 5px 8px 5px 8px;
    color: white;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    white-space: nowrap;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    margin-right: 22px;
    flex-shrink: 0;
    font-family: "Roboto", serif;
}

.upload-btn .tooltip {
    position: absolute ;
    background-color: gray;
    font-size: 10px;
    padding: 5px 8px 5px 8px;
    color: white;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.upload-icon {
    height: 22px;
}

.apps-btn .tooltip {
    position: absolute ;
    background-color: gray;
    font-size: 10px;
    padding: 5px 8px 5px 8px;
    color: white;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    white-space: nowrap;
}

.apps-icon {
    height: 22px;
}

.notification-amount {
    position: absolute;
    top: 0px;
    right: -4px;
    background-color: rgb(197, 1, 1);
    color: white;
    font-size: 9px;
    padding: 2px 5px 2px 5px;
    border-radius: 17px;
}

.notifications-icon {
    margin-top: 2px;
    height: 22px;
}

.notification-icon-box .tooltip {
    position: absolute ;
    background-color: gray;
    font-size: 10px;
    padding: 5px 8px 5px 8px;
    color: white;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    white-space: nowrap;
}

.current-user-icon {
    height: 32px;
    border-radius: 16px;
}